{% load static %}
<div class="block block-pd-sm block-bg-grey-dark block-bg-overlay block-bg-overlay-6 text-center" data-block-bg-img="images/bil.jpg?q=40&amp;w=1650&amp;sharp=30" data-stellar-background-ratio="0.3">
    <p class="text-fancy"><a href="{% static 'images/jamlayanan.jpeg' %}" target="_blank"><img src="{% static 'images/jamlayanan.jpeg' %}" class="img-responsive img-thumbnail pull-center m-l m-b"></a></p>		

    <h2 class="h-xlg h1 m-a-0"><span data-counter-up>{{ dip_count }}</span></h2>
    <h3 class="h-lg m-t-0 m-b-lg">Data Informasi Publik Kabupaten Lombok Barat Sudah Di Upload</h3>

    <p><a href="DIP" class="btn btn-more btn-lg i-right">Lihat Semua DIP! <i class="fa fa-angle-right"></i></a></p>
</div>