<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Dashboard PPID Lombok Barat Admin Panel</title>

    {% include "account/snippet/styles.html" %}
    {% include "account/snippet/scripts.html" %} 
</head>
<body>
    {% include "account/snippet/header.html" %} 

	<section id="secondary_bar">
		<div class="user">
			<p>{{user}} (<a href="#">{{user.first_name}}</a>)</p>
			<!-- <a class="logout_user" href="#" title="Logout">Logout</a> -->
		</div>
		<div class="breadcrumbs_container">
			<article class="breadcrumbs"><a href="index.html">Website Admin</a> <div class="breadcrumb_divider"></div> <a class="current">Dashboard</a></article>
		</div>
	</section><!-- end of secondary bar -->
	
	<aside id="sidebar" class="column">
	
        {% include "account/snippet/sidebar.html" %} 
		
        {% include "account/snippet/footer.html" %} 

	</aside><!-- end of sidebar -->
	
	<section id="main" class="column">
		
		<h4 class="alert_info">Selamat Datang Admin PPID Kabupaten Lombok Barat</h4>
		
		<article class="module width_full">
			<header><h3>Stats Permohonan</h3></header> 
			<div class="module_content">
				<article class="stats_graph">
					<div class="chart-container" style="position: relative; height:45vh; width:20vw; padding-left: 20px">
						<canvas id="myChart" ></canvas>
					</div>
				</article>
				
				<article class="stats_overview">
					<div class="overview_today">
                    
						<p class="overview_day">Perorangan</p>
						<p class="overview_count">{{ dip1_count }}</p>
						<p class="overview_day">Kelompok</p>
						<p class="overview_count">{{ dip2_count}}</p>
						
					</div>
					<div class="overview_previous">
						<p class="overview_day">LSM/NGO</p>
						<p class="overview_count">{{ dip3_count }}</p>
						<p class="overview_day">Instansi Pemerintah</p>
						<p class="overview_count">{{ dip4_count }}</p>
						
					</div>
                    <div class="overview_previous">
						<p class="overview_day">Instansi Pemerintah</p>
						<p class="overview_count">{{ dip5_count }}</p>
						
					</div>
                    <div class="overview_previous">
						<p class="overview_day">Lembaga Pendidikan</p>
						<p class="overview_count">{{ dip6_count }}</p>
						
					</div>
                  
				</article>
                  <div class="overview_previous">
						<p class="overview_day">TOTAL</p>
						<p class="overview_count">{{ dip_count }}</p>
					</div>
				
				<div class="clear"></div>
			</div>
		</article><!-- end of stats article -->
		
		<article class="module width_full">
		
              {% block content %}

              {% endblock %}		
            
	</article><!-- end of content manager article -->
		
		<div class="clear"></div>
	
<script>
  // === include 'setup' then 'config' above ===

  var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

<script type="text/javascript">
	
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Perorangan', 'Kelompok', 'LSM/NGO', 'Instansi Pemerintah', 'Lembaga Pendidikan', 'Lainnya'],
        datasets: [{
            label: '',
            data: [{{ dip1_count}}, {{ dip2_count}}, {{ dip3_count}}, {{ dip4_count}}, {{ dip5_count}}, {{ dip6_count}}],
            backgroundColor: [
               'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 2
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});

</script>
		
		
 