{% extends "ppid/base-content.html" %}
{% load static %}
{% block content %}

<div class="block block-border-bottom-grey block-pd-sm">
  <h3 class="block-title">Formulir Permintaan Data</h3>
  <h1>PPID Lombok Barat</h1><br>
	<p>
    Download <a href="images/services/tatacarapermohonan.pdf" target="_blank">Tatacara Permohonan Informasi</a>
	</p><br>	
				
<!--	<p>DAlam Perbaikan  </p> -->

	<form accept-charset="UTF-8"  action="formdata.php?act=simpan" method="post" enctype="multipart/form-data" name="form1">
      <fieldset>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
            <input type="text" name ="nama" required="true" class="form-control" placeholder="Nama Lengkap">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" title="Kategori Pemohon"><i class="fa fa-align-justify"></i></span>
            <select class="form-control" name="kategori" required="" title="Kategori Pemohon">
              <option>Perorangan</option>
              <option>Kelompok</option>
              <option>LSM/NGO</option>
              <option>Instansi Pemerintah</option>
              <option>Lembaga Pendidikan</option>
              <option>Lainnya</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-fw fa-map-marker "></i></span>
            <input type="text" name="alamat" required="true" class="form-control" placeholder="Alamat">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-fw fa-phone "></i></span>
            <input type="number" name="telp" required="true" class="form-control" placeholder="No Telp">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
            <input type="email" name="email" required="true" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" disabled="disabled" id="fake-file-button-upload">
                <span class="fa fa-credit-card "></span>
              </button>
            </span>
            <input type="file" id="files-input-upload" name="ktp" style="display:none" required="true">
            <input type="text" id="fake-file-input-name" name="ktp" required="true" disabled="disabled" placeholder="Salinan KTP" class="form-control">
            <span class="input-group-btn">
              <button id="fake-file-button-browse" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search "></span>
              </button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-fw fa-question-circle"></i></span>
              <textarea class="textarea-control" name="tujuan" rows="3" cols="95%" data-rule="required" data-msg="Please write something for us" placeholder="Tujuan Penggunaan Informasi*"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-fw fa-pencil-square-o "></i></span>
              <textarea class="textarea-control" name="rincian" rows="3" cols="95%" data-rule="required" data-msg="Please write something for us" placeholder="Rincian Informasi yang dibutuhkan**"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="radio">
            <label>
              <input type="radio" name="aksi" id="optionsRadios1" value="1" checked>
              Melihat/Mendengar/Membaca/Mencatat
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="aksi" id="optionsRadios2" value="2">
              Mendapatkan salinan informasi (Hardcopy/Softcopy)
            </label>
          </div>
        </div>
        <div class="checkbox">
          <div class="g-recaptcha" data-sitekey="6LcprCUUAAAAAOu59Wqkoxzr-ZibvTDueGYFPRvK"></div> 
        </div>
        <input class="btn btn-lg btn-primary " type="submit" value="Kirim Permintaan Data"> <input type="reset" class="btn btn-lg btn-primary" value="Hapus Text" />
    </fieldset>
  </form>
</div> 
<h4 class="block-title"> Permintaan Data Terbaru</h4>
<table class="table table-bordered" id="dtb">
  <thead>
    <tr>
      <th>NO </th>
      <th>Nama</th>
      <th>Tujuan Permintaan Data</th>
      <th>Rincian</th>
      <th>Tanggal</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for s in show %}
    <tr>
      <td>{{ s.id }}</td>
      <td>{{ s.name }}</td>
      <td>{{ s.purpose}}</td>
      <td>{{ s.detail }}</td>
      <td>{{ s.date }}</td>
      <td>{{ s.status }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}